################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAB4/.vs/LAB4/v16/Server/sqlite3/storage.ide-wal
